*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: url("./images/stephen-leonardi-TVVkvthpWsU-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.accordion{
    width: 65%;
    background-color: #fff;
    opacity: .5;
    padding: 30px;
    border-radius: 30px;
}
.accordion .accordion-title{
    margin-bottom: 30px;
    text-align: center;
}
.accordion .content-container .question{
    padding: 18px 0px;
    font-size: 22px;
    cursor: pointer;
    border-bottom: 1px solid #000;
    position: relative;
}
.accordion .content-container .question::after{
    content: "+";
    position: absolute;
    right: -5px;
}
.accordion .content-container .answer{
    padding-top: 15px;
    font-size: 22px;
    line-height: 1.5;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s;
}
.accordion .content-container.active .answer{
    height: 150px;
}
.accordion .content-container.active .question{
    font-size: 18px;
    transition: .5s;
}
.accordion .content-container.active .question::after{
    content: "-";
    font-size: 30px;
    transition: .5s;
}